<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_sampling_1000rep_n50_x2_sas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n50_x2_sas.csv')
df

         rep  index         x1  ...            Y       y_hat        e_hat
0        0.0    0.0  34.540776  ...   375.277257  415.964254   -40.686996
1        0.0    1.0  22.608943  ...  1049.470535  282.317526   767.153009
2        0.0    2.0  30.327996  ...    25.685073  351.650958  -325.965886
3        0.0    3.0  18.764382  ...   362.691626  231.124843   131.566783
4        0.0    4.0  30.467651  ...  1624.908970  354.002405  1270.906564
...      ...    ...        ...  ...          ...         ...          ...
49995  999.0   45.0  30.410076  ...  -857.741418  345.737488 -1203.478907
49996  999.0   46.0  25.920068  ...  -443.024197  367.920028  -810.944225
49997  999.0   47.0  21.152150  ...   839.693992  256.385609   583.308384
49998  999.0   48.0  29.680087  ...  -249.718826  360.753728  -610.472555
49999  999.0   49.0  39.469513  ...  1977.682201  442.333113  1535.349089

[50000 rows x 9 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n50_x2_sas.csv', index_col=['rep', 'index'])
df

                    x1         x2  ...       y_hat        e_hat
rep   index                        ...
0.0   0.0    34.540776  31.269301  ...  415.964254   -40.686996
      1.0    22.608943  24.828279  ...  282.317526   767.153009
      2.0    30.327996  23.054095  ...  351.650958  -325.965886
      3.0    18.764382  17.419553  ...  231.124843   131.566783
      4.0    30.467651  20.347624  ...  354.002405  1270.906564
...                ...        ...  ...         ...          ...
999.0 45.0   30.410076  26.621221  ...  345.737488 -1203.478907
      46.0   25.920068  38.960639  ...  367.920028  -810.944225
      47.0   21.152150  27.304572  ...  256.385609   583.308384
      48.0   29.680087  33.070939  ...  360.753728  -610.472555
      49.0   39.469513  27.963472  ...  442.333113  1535.349089

[50000 rows x 7 columns]

In [4]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                    x1         x2  ...       y_hat        e_hat
rep   index                        ...
0.0   0.0    34.540776  31.269301  ...  415.964254   -40.686996
      1.0    22.608943  24.828279  ...  282.317526   767.153009
      2.0    30.327996  23.054095  ...  351.650958  -325.965886
      3.0    18.764382  17.419553  ...  231.124843   131.566783
      4.0    30.467651  20.347624  ...  354.002405  1270.906564
...                ...        ...  ...         ...          ...
999.0 45.0   30.410076  26.621221  ...  345.737488 -1203.478907
      46.0   25.920068  38.960639  ...  367.920028  -810.944225
      47.0   21.152150  27.304572  ...  256.385609   583.308384
      48.0   29.680087  33.070939  ...  360.753728  -610.472555
      49.0   39.469513  27.963472  ...  442.333113  1535.349089

[50000 rows x 7 columns]

In [5]:
table.reset_index(inplace=True)
table

         rep  index         x1  ...            Y       y_hat        e_hat
0        0.0    0.0  34.540776  ...   375.277257  415.964254   -40.686996
1        0.0    1.0  22.608943  ...  1049.470535  282.317526   767.153009
2        0.0    2.0  30.327996  ...    25.685073  351.650958  -325.965886
3        0.0    3.0  18.764382  ...   362.691626  231.124843   131.566783
4        0.0    4.0  30.467651  ...  1624.908970  354.002405  1270.906564
...      ...    ...        ...  ...          ...         ...          ...
49995  999.0   45.0  30.410076  ...  -857.741418  345.737488 -1203.478907
49996  999.0   46.0  25.920068  ...  -443.024197  367.920028  -810.944225
49997  999.0   47.0  21.152150  ...   839.693992  256.385609   583.308384
49998  999.0   48.0  29.680087  ...  -249.718826  360.753728  -610.472555
49999  999.0   49.0  39.469513  ...  1977.682201  442.333113  1535.349089

[50000 rows x 9 columns]

In [6]:
table.set_index(['rep', 'index'], inplace=True)

In [7]:
table

                    x1         x2  ...       y_hat        e_hat
rep   index                        ...
0.0   0.0    34.540776  31.269301  ...  415.964254   -40.686996
      1.0    22.608943  24.828279  ...  282.317526   767.153009
      2.0    30.327996  23.054095  ...  351.650958  -325.965886
      3.0    18.764382  17.419553  ...  231.124843   131.566783
      4.0    30.467651  20.347624  ...  354.002405  1270.906564
...                ...        ...  ...         ...          ...
999.0 45.0   30.410076  26.621221  ...  345.737488 -1203.478907
      46.0   25.920068  38.960639  ...  367.920028  -810.944225
      47.0   21.152150  27.304572  ...  256.385609   583.308384
      48.0   29.680087  33.070939  ...  360.753728  -610.472555
      49.0   39.469513  27.963472  ...  442.333113  1535.349089

[50000 rows x 7 columns]

In [8]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('x1')

    new_table_sort.reset_index(inplace=True)

    #new_table_sort.drop(['index'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    # define respones variable
    y = table1['Y']
    # define predictor variable
    x = table1[['x1', 'x2', 'x3']]
    # add constant to predictor variable
    x = sm.add_constant(x)
    # fit linear regression model
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['x1', 'x2', 'x3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    # ค่าสถิติทดสอบ
    GQ_test = MSE2 / MSE1


    df2 = DF2
    df1 = DF1

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [9]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

            df1   df2                SSE1                SSE2                MSE1                MSE2             GQ_test              two_tailed             greater                       Result_test
Replicate
0.0        16.0  16.0   38980333.52023854  2768824.6854013028   2436270.845014909  173051.54283758142  14.078296009770254   3.151367798492899e-06  0.9999984243161008  Reject005=0 : Heteroscedasticity
1.0        16.0  16.0   66046534.28013063   2251196.069617456  4127908.3925081645    140699.754351091  29.338419328065847  1.4565909589592252e-08  0.9999999927170452  Reject005=0 : Heteroscedasticity
2.0        16.0  16.0  22549100.961524196   2640927.267920377  1409318.8100952622  165057.95424502357    8.53832713813459   9.498327897938807e-05  0.9999525083605103  Reject005=0 : Heteroscedasticity
3.0        16.0  16.0   35316956.07749197  1516639.9674411488   2207309.754843248    94789.9979650718  23.286315035649615   8.194019085472348e-08  0.9999999590299046  Reject005=0 : Heteroscedasticity
4.0        16.0  16.0   43519707.31638584   6017485.849770653   2719981.707274115   376092.8656106658   7.232207669926557  0.00027529848647311894  0.9998623507567634  Reject005=0 : Heteroscedasticity
...         ...   ...                 ...                 ...                 ...                 ...                 ...                     ...                 ...                               ...
995.0      16.0  16.0   62357312.91760344  2410100.3440732243   3897332.057350215  150631.27150457652  25.873326424332845   3.740115306349878e-08  0.9999999812994235  Reject005=0 : Heteroscedasticity
996.0      16.0  16.0   44723743.21598912   1967744.125515356    2795233.95099932  122984.00784470975   22.72843437114868   9.806836609449476e-08   0.999999950965817  Reject005=0 : Heteroscedasticity
997.0      16.0  16.0  34121901.530575946   883272.0815061098  2132618.8456609966   55204.50509413186    38.6312465264305  1.8045762661955678e-09  0.9999999990977119  Reject005=0 : Heteroscedasticity
998.0      16.0  16.0   73186817.96705621  3048190.9613655023   4574176.122941013   190511.9350853439   24.00991896330229   6.528622442658616e-08  0.9999999673568878  Reject005=0 : Heteroscedasticity
999.0      16.0  16.0   99513189.74346842  3020831.5183621435   6219574.358966776  188801.96989763397   32.94231708672823  6.0681297764375586e-09  0.9999999969659351  Reject005=0 : Heteroscedasticity

[1000 rows x 10 columns]

In [10]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

            df1   df2                SSE1                SSE2                MSE1                MSE2             GQ_test          two_tailed_new                       Result_test
Replicate
0.0        16.0  16.0   38980333.52023854  2768824.6854013028   2436270.845014909  173051.54283758142  14.078296009770254   3.151367798492899e-06  Reject005=0 : Heteroscedasticity
1.0        16.0  16.0   66046534.28013063   2251196.069617456  4127908.3925081645    140699.754351091  29.338419328065847  1.4565909589592252e-08  Reject005=0 : Heteroscedasticity
2.0        16.0  16.0  22549100.961524196   2640927.267920377  1409318.8100952622  165057.95424502357    8.53832713813459   9.498327897938807e-05  Reject005=0 : Heteroscedasticity
3.0        16.0  16.0   35316956.07749197  1516639.9674411488   2207309.754843248    94789.9979650718  23.286315035649615   8.194019085472348e-08  Reject005=0 : Heteroscedasticity
4.0        16.0  16.0   43519707.31638584   6017485.849770653   2719981.707274115   376092.8656106658   7.232207669926557  0.00027529848647311894  Reject005=0 : Heteroscedasticity
...         ...   ...                 ...                 ...                 ...                 ...                 ...                     ...                               ...
995.0      16.0  16.0   62357312.91760344  2410100.3440732243   3897332.057350215  150631.27150457652  25.873326424332845   3.740115306349878e-08  Reject005=0 : Heteroscedasticity
996.0      16.0  16.0   44723743.21598912   1967744.125515356    2795233.95099932  122984.00784470975   22.72843437114868   9.806836609449476e-08  Reject005=0 : Heteroscedasticity
997.0      16.0  16.0  34121901.530575946   883272.0815061098  2132618.8456609966   55204.50509413186    38.6312465264305  1.8045762661955678e-09  Reject005=0 : Heteroscedasticity
998.0      16.0  16.0   73186817.96705621  3048190.9613655023   4574176.122941013   190511.9350853439   24.00991896330229   6.528622442658616e-08  Reject005=0 : Heteroscedasticity
999.0      16.0  16.0   99513189.74346842  3020831.5183621435   6219574.358966776  188801.96989763397   32.94231708672823  6.0681297764375586e-09  Reject005=0 : Heteroscedasticity

[1000 rows x 9 columns]

In [11]:
result_show['Result_test'].value_counts()

Reject005=0 : Heteroscedasticity    999
Reject005=1 : Homoscedasticity        1
Name: Result_test, dtype: int64