<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_sampling_1000rep_n20_x2_sas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n20_x2_sas.csv')
df

         rep  index         x1  ...            Y       y_hat        e_hat
0        0.0    0.0  33.744364  ...   902.941000  386.767734   516.173266
1        0.0    1.0  34.324181  ...  1111.525765  411.567395   699.958370
2        0.0    2.0  41.742944  ...   939.398947  506.419415   432.979532
3        0.0    3.0  35.133322  ...   881.853098  397.979751   483.873347
4        0.0    4.0  30.580127  ... -1297.561739  356.389752 -1653.951491
...      ...    ...        ...  ...          ...         ...          ...
19995  999.0   15.0  27.932361  ...  1785.197516  319.949593  1465.247922
19996  999.0   16.0  11.948298  ...   255.262952  216.056068    39.206884
19997  999.0   17.0  40.017216  ... -2326.424903  440.098453 -2766.523356
19998  999.0   18.0  21.815521  ...   355.405752  250.074365   105.331387
19999  999.0   19.0  18.318184  ...   650.452065  216.041887   434.410177

[20000 rows x 9 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n20_x2_sas.csv', index_col=['rep', 'index'])
df

                    x1         x2  ...       y_hat        e_hat
rep   index                        ...
0.0   0.0    33.744364  36.270505  ...  386.767734   516.173266
      1.0    34.324181  25.244346  ...  411.567395   699.958370
      2.0    41.742944  24.773295  ...  506.419415   432.979532
      3.0    35.133322  44.163120  ...  397.979751   483.873347
      4.0    30.580127  49.630104  ...  356.389752 -1653.951491
...                ...        ...  ...         ...          ...
999.0 15.0   27.932361  21.434511  ...  319.949593  1465.247922
      16.0   11.948298  29.146464  ...  216.056068    39.206884
      17.0   40.017216  18.459214  ...  440.098453 -2766.523356
      18.0   21.815521  22.083059  ...  250.074365   105.331387
      19.0   18.318184  29.506951  ...  216.041887   434.410177

[20000 rows x 7 columns]

In [4]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                    x1         x2  ...       y_hat        e_hat
rep   index                        ...
0.0   0.0    33.744364  36.270505  ...  386.767734   516.173266
      1.0    34.324181  25.244346  ...  411.567395   699.958370
      2.0    41.742944  24.773295  ...  506.419415   432.979532
      3.0    35.133322  44.163120  ...  397.979751   483.873347
      4.0    30.580127  49.630104  ...  356.389752 -1653.951491
...                ...        ...  ...         ...          ...
999.0 15.0   27.932361  21.434511  ...  319.949593  1465.247922
      16.0   11.948298  29.146464  ...  216.056068    39.206884
      17.0   40.017216  18.459214  ...  440.098453 -2766.523356
      18.0   21.815521  22.083059  ...  250.074365   105.331387
      19.0   18.318184  29.506951  ...  216.041887   434.410177

[20000 rows x 7 columns]

In [5]:
table.reset_index(inplace=True)
table

         rep  index         x1  ...            Y       y_hat        e_hat
0        0.0    0.0  33.744364  ...   902.941000  386.767734   516.173266
1        0.0    1.0  34.324181  ...  1111.525765  411.567395   699.958370
2        0.0    2.0  41.742944  ...   939.398947  506.419415   432.979532
3        0.0    3.0  35.133322  ...   881.853098  397.979751   483.873347
4        0.0    4.0  30.580127  ... -1297.561739  356.389752 -1653.951491
...      ...    ...        ...  ...          ...         ...          ...
19995  999.0   15.0  27.932361  ...  1785.197516  319.949593  1465.247922
19996  999.0   16.0  11.948298  ...   255.262952  216.056068    39.206884
19997  999.0   17.0  40.017216  ... -2326.424903  440.098453 -2766.523356
19998  999.0   18.0  21.815521  ...   355.405752  250.074365   105.331387
19999  999.0   19.0  18.318184  ...   650.452065  216.041887   434.410177

[20000 rows x 9 columns]

In [6]:
table.set_index(['rep', 'index'], inplace=True)

In [7]:
table

                    x1         x2  ...       y_hat        e_hat
rep   index                        ...
0.0   0.0    33.744364  36.270505  ...  386.767734   516.173266
      1.0    34.324181  25.244346  ...  411.567395   699.958370
      2.0    41.742944  24.773295  ...  506.419415   432.979532
      3.0    35.133322  44.163120  ...  397.979751   483.873347
      4.0    30.580127  49.630104  ...  356.389752 -1653.951491
...                ...        ...  ...         ...          ...
999.0 15.0   27.932361  21.434511  ...  319.949593  1465.247922
      16.0   11.948298  29.146464  ...  216.056068    39.206884
      17.0   40.017216  18.459214  ...  440.098453 -2766.523356
      18.0   21.815521  22.083059  ...  250.074365   105.331387
      19.0   18.318184  29.506951  ...  216.041887   434.410177

[20000 rows x 7 columns]

In [9]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('x1')

    new_table_sort.reset_index(inplace=True)

    #new_table_sort.drop(['index'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    # define respones variable
    y = table1['Y']
    # define predictor variable
    x = table1[['x1', 'x2', 'x3']]
    # add constant to predictor variable
    x = sm.add_constant(x)
    # fit linear regression model
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['x1', 'x2', 'x3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    # ค่าสถิติทดสอบ
    GQ_test = MSE2 / MSE1


    df2 = DF2+1
    df1 = DF1+1

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [10]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

           df1  df2                SSE1                SSE2                MSE1                MSE2             GQ_test              two_tailed             greater                       Result_test
Replicate
0.0        5.0  5.0  3600682.5469613047    905388.152201674   900170.6367403262   226347.0380504185   3.976949044678086     0.15599173544449263  0.9220041322777537    Reject005=1 : Homoscedasticity
1.0        5.0  5.0  11284904.355391407    781305.482491441   2821226.088847852  195326.37062286024  14.443651821571637     0.01079788980166807   0.994601055099166  Reject005=0 : Heteroscedasticity
2.0        5.0  5.0  2916833.0032260637  1611652.2130340794   729208.2508065159  402913.05325851985    1.80984022460706      0.5307762092901951  0.7346118953549025    Reject005=1 : Homoscedasticity
3.0        5.0  5.0   8543140.908315241  443677.64840085676  2135785.2270788103  110919.41210021419   19.25528802072226    0.005575896552837634  0.9972120517235812  Reject005=0 : Heteroscedasticity
4.0        5.0  5.0  18253154.042421784  61707.181862701225   4563288.510605446  15426.795465675306  295.80274923322764   7.133283181692818e-06  0.9999964333584092  Reject005=0 : Heteroscedasticity
...        ...  ...                 ...                 ...                 ...                 ...                 ...                     ...                 ...                               ...
995.0      5.0  5.0   9334560.276007827   458398.8900205766   2333640.069001957  114599.72250514415   20.36340069581935    0.004894594844689237  0.9975527025776554  Reject005=0 : Heteroscedasticity
996.0      5.0  5.0    9246520.26893371  1178850.4498244503  2311630.0672334274   294712.6124561126   7.843675396069675     0.04118091297004578  0.9794095435149771  Reject005=0 : Heteroscedasticity
997.0      5.0  5.0   7833718.221794168   78158.50141969533   1958429.555448542   19539.62535492383  100.22861338818011  0.00010426975814636918  0.9999478651209268  Reject005=0 : Heteroscedasticity
998.0      5.0  5.0  3043975.6250059027   782715.4342260365   760993.9062514757  195678.85855650913   3.888993996925386     0.16237200325388823  0.9188139983730559    Reject005=1 : Homoscedasticity
999.0      5.0  5.0   6911792.701668511  199545.18749802068  1727948.1754171278   49886.29687450517   34.63773187582923    0.001390177626677369  0.9993049111866613  Reject005=0 : Heteroscedasticity

[985 rows x 10 columns]

In [11]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

           df1  df2                SSE1                SSE2                MSE1                MSE2             GQ_test          two_tailed_new                       Result_test
Replicate
0.0        5.0  5.0  3600682.5469613047    905388.152201674   900170.6367403262   226347.0380504185   3.976949044678086     0.15599173544449263    Reject005=1 : Homoscedasticity
1.0        5.0  5.0  11284904.355391407    781305.482491441   2821226.088847852  195326.37062286024  14.443651821571637     0.01079788980166807  Reject005=0 : Heteroscedasticity
2.0        5.0  5.0  2916833.0032260637  1611652.2130340794   729208.2508065159  402913.05325851985    1.80984022460706       1.469223790709805    Reject005=1 : Homoscedasticity
3.0        5.0  5.0   8543140.908315241  443677.64840085676  2135785.2270788103  110919.41210021419   19.25528802072226    0.005575896552837634  Reject005=0 : Heteroscedasticity
4.0        5.0  5.0  18253154.042421784  61707.181862701225   4563288.510605446  15426.795465675306  295.80274923322764   7.133283181692818e-06  Reject005=0 : Heteroscedasticity
...        ...  ...                 ...                 ...                 ...                 ...                 ...                     ...                               ...
995.0      5.0  5.0   9334560.276007827   458398.8900205766   2333640.069001957  114599.72250514415   20.36340069581935    0.004894594844689237  Reject005=0 : Heteroscedasticity
996.0      5.0  5.0    9246520.26893371  1178850.4498244503  2311630.0672334274   294712.6124561126   7.843675396069675     0.04118091297004578  Reject005=0 : Heteroscedasticity
997.0      5.0  5.0   7833718.221794168   78158.50141969533   1958429.555448542   19539.62535492383  100.22861338818011  0.00010426975814636918  Reject005=0 : Heteroscedasticity
998.0      5.0  5.0  3043975.6250059027   782715.4342260365   760993.9062514757  195678.85855650913   3.888993996925386     0.16237200325388823    Reject005=1 : Homoscedasticity
999.0      5.0  5.0   6911792.701668511  199545.18749802068  1727948.1754171278   49886.29687450517   34.63773187582923    0.001390177626677369  Reject005=0 : Heteroscedasticity

[1000 rows x 9 columns]

In [12]:
result_show['Result_test'].value_counts()

Reject005=0 : Heteroscedasticity    785
Reject005=1 : Homoscedasticity      215
Name: Result_test, dtype: int64