<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_sampling_1000rep_n70_x2_sas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n70_x2_sas.csv')
df

         rep  index         x1  ...            Y       y_hat        e_hat
0        0.0    0.0  39.608548  ...  4261.634114  479.224025  3782.410089
1        0.0    1.0  19.092806  ...  -385.203860  242.485146  -627.689006
2        0.0    2.0  23.729791  ...   917.648345  298.767065   618.881281
3        0.0    3.0  24.922640  ...   261.979118  320.764882   -58.785764
4        0.0    4.0  46.349981  ...  2216.349508  528.933108  1687.416400
...      ...    ...        ...  ...          ...         ...          ...
69995  999.0   65.0  38.110895  ...   403.514396  456.467163   -52.952767
69996  999.0   66.0  42.296782  ...  1549.272714  500.682804  1048.589910
69997  999.0   67.0  46.159758  ...  -614.765378  527.550534 -1142.315912
69998  999.0   68.0  24.333703  ...   369.212734  299.328062    69.884672
69999  999.0   69.0  13.191366  ...   109.290933  194.109428   -84.818495

[70000 rows x 9 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n70_x2_sas.csv', index_col=['rep', 'index'])
df

                    x1         x2  ...       y_hat        e_hat
rep   index                        ...
0.0   0.0    39.608548  35.769419  ...  479.224025  3782.410089
      1.0    19.092806  28.579709  ...  242.485146  -627.689006
      2.0    23.729791  27.155081  ...  298.767065   618.881281
      3.0    24.922640  35.328790  ...  320.764882   -58.785764
      4.0    46.349981  13.650200  ...  528.933108  1687.416400
...                ...        ...  ...         ...          ...
999.0 65.0   38.110895  35.830688  ...  456.467163   -52.952767
      66.0   42.296782  29.165904  ...  500.682804  1048.589910
      67.0   46.159758  16.539741  ...  527.550534 -1142.315912
      68.0   24.333703  23.630647  ...  299.328062    69.884672
      69.0   13.191366  47.497751  ...  194.109428   -84.818495

[70000 rows x 7 columns]

In [4]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                    x1         x2  ...       y_hat        e_hat
rep   index                        ...
0.0   0.0    39.608548  35.769419  ...  479.224025  3782.410089
      1.0    19.092806  28.579709  ...  242.485146  -627.689006
      2.0    23.729791  27.155081  ...  298.767065   618.881281
      3.0    24.922640  35.328790  ...  320.764882   -58.785764
      4.0    46.349981  13.650200  ...  528.933108  1687.416400
...                ...        ...  ...         ...          ...
999.0 65.0   38.110895  35.830688  ...  456.467163   -52.952767
      66.0   42.296782  29.165904  ...  500.682804  1048.589910
      67.0   46.159758  16.539741  ...  527.550534 -1142.315912
      68.0   24.333703  23.630647  ...  299.328062    69.884672
      69.0   13.191366  47.497751  ...  194.109428   -84.818495

[70000 rows x 7 columns]

In [5]:
table.reset_index(inplace=True)
table

         rep  index         x1  ...            Y       y_hat        e_hat
0        0.0    0.0  39.608548  ...  4261.634114  479.224025  3782.410089
1        0.0    1.0  19.092806  ...  -385.203860  242.485146  -627.689006
2        0.0    2.0  23.729791  ...   917.648345  298.767065   618.881281
3        0.0    3.0  24.922640  ...   261.979118  320.764882   -58.785764
4        0.0    4.0  46.349981  ...  2216.349508  528.933108  1687.416400
...      ...    ...        ...  ...          ...         ...          ...
69995  999.0   65.0  38.110895  ...   403.514396  456.467163   -52.952767
69996  999.0   66.0  42.296782  ...  1549.272714  500.682804  1048.589910
69997  999.0   67.0  46.159758  ...  -614.765378  527.550534 -1142.315912
69998  999.0   68.0  24.333703  ...   369.212734  299.328062    69.884672
69999  999.0   69.0  13.191366  ...   109.290933  194.109428   -84.818495

[70000 rows x 9 columns]

In [6]:
table.set_index(['rep', 'index'], inplace=True)

In [7]:
table

                    x1         x2  ...       y_hat        e_hat
rep   index                        ...
0.0   0.0    39.608548  35.769419  ...  479.224025  3782.410089
      1.0    19.092806  28.579709  ...  242.485146  -627.689006
      2.0    23.729791  27.155081  ...  298.767065   618.881281
      3.0    24.922640  35.328790  ...  320.764882   -58.785764
      4.0    46.349981  13.650200  ...  528.933108  1687.416400
...                ...        ...  ...         ...          ...
999.0 65.0   38.110895  35.830688  ...  456.467163   -52.952767
      66.0   42.296782  29.165904  ...  500.682804  1048.589910
      67.0   46.159758  16.539741  ...  527.550534 -1142.315912
      68.0   24.333703  23.630647  ...  299.328062    69.884672
      69.0   13.191366  47.497751  ...  194.109428   -84.818495

[70000 rows x 7 columns]

In [8]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('x1')

    new_table_sort.reset_index(inplace=True)

    #new_table_sort.drop(['index'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    # define respones variable
    y = table1['Y']
    # define predictor variable
    x = table1[['x1', 'x2', 'x3']]
    # add constant to predictor variable
    x = sm.add_constant(x)
    # fit linear regression model
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['x1', 'x2', 'x3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    # ค่าสถิติทดสอบ
    GQ_test = MSE2 / MSE1


    df2 = DF2
    df1 = DF1

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [9]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

            df1   df2                SSE1                SSE2                MSE1                MSE2             GQ_test              two_tailed             greater                       Result_test
Replicate
0.0        24.0  24.0   107596807.3186094    7597231.60553078   4483200.304942058  316551.31689711584  14.162633562504398   9.189417671251476e-09  0.9999999954052912  Reject005=0 : Heteroscedasticity
1.0        24.0  24.0   90122666.16028918   5627308.647460235  3755111.0900120493  234471.19364417647  16.015234245408614  2.4888229255282113e-09  0.9999999987555885  Reject005=0 : Heteroscedasticity
2.0        24.0  24.0   62019518.37085672   4781979.027041563  2584146.5987856966  199249.12612673178  12.969425005869578   2.312248659208649e-08  0.9999999884387567  Reject005=0 : Heteroscedasticity
3.0        24.0  24.0  57643860.642678715   5284461.175832355    2401827.52677828  220185.88232634813  10.908181312089825  1.3723597414028177e-07  0.9999999313820129  Reject005=0 : Heteroscedasticity
4.0        24.0  24.0  57123241.521860324  2131472.9501553285   2380135.063410847   88811.37292313868  26.799890431495996    8.75721717363831e-12  0.9999999999956214  Reject005=0 : Heteroscedasticity
...         ...   ...                 ...                 ...                 ...                 ...                 ...                     ...                 ...                               ...
995.0      24.0  24.0   48113914.00926607  2692995.4200191675   2004746.417052753  112208.14250079864  17.866318543134998   7.665146295465775e-10  0.9999999996167427  Reject005=0 : Heteroscedasticity
996.0      24.0  24.0   88471777.40525454  3942461.8538937573  3686324.0585522726  164269.24391223988   22.44074405383929   6.319589296310824e-11   0.999999999968402  Reject005=0 : Heteroscedasticity
997.0      24.0  24.0    88176240.7622289   4695905.780431486  3674010.0317595378  195662.74085131192  18.777259358497346  4.4672776589038676e-10  0.9999999997766361  Reject005=0 : Heteroscedasticity
998.0      24.0  24.0   86108439.39417726   6430160.659120206  3587851.6414240524  267923.36079667526  13.391335607150891  1.6550731007924924e-08  0.9999999917246345  Reject005=0 : Heteroscedasticity
999.0      24.0  24.0   58498172.49848702   2346221.124402006  2437423.8541036258   97759.21351675026   24.93293231830259  1.9627410807743217e-11  0.9999999999901863  Reject005=0 : Heteroscedasticity

[1000 rows x 10 columns]

In [10]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

            df1   df2                SSE1                SSE2                MSE1                MSE2             GQ_test          two_tailed_new                       Result_test
Replicate
0.0        24.0  24.0   107596807.3186094    7597231.60553078   4483200.304942058  316551.31689711584  14.162633562504398   9.189417671251476e-09  Reject005=0 : Heteroscedasticity
1.0        24.0  24.0   90122666.16028918   5627308.647460235  3755111.0900120493  234471.19364417647  16.015234245408614  2.4888229255282113e-09  Reject005=0 : Heteroscedasticity
2.0        24.0  24.0   62019518.37085672   4781979.027041563  2584146.5987856966  199249.12612673178  12.969425005869578   2.312248659208649e-08  Reject005=0 : Heteroscedasticity
3.0        24.0  24.0  57643860.642678715   5284461.175832355    2401827.52677828  220185.88232634813  10.908181312089825  1.3723597414028177e-07  Reject005=0 : Heteroscedasticity
4.0        24.0  24.0  57123241.521860324  2131472.9501553285   2380135.063410847   88811.37292313868  26.799890431495996    8.75721717363831e-12  Reject005=0 : Heteroscedasticity
...         ...   ...                 ...                 ...                 ...                 ...                 ...                     ...                               ...
995.0      24.0  24.0   48113914.00926607  2692995.4200191675   2004746.417052753  112208.14250079864  17.866318543134998   7.665146295465775e-10  Reject005=0 : Heteroscedasticity
996.0      24.0  24.0   88471777.40525454  3942461.8538937573  3686324.0585522726  164269.24391223988   22.44074405383929   6.319589296310824e-11  Reject005=0 : Heteroscedasticity
997.0      24.0  24.0    88176240.7622289   4695905.780431486  3674010.0317595378  195662.74085131192  18.777259358497346  4.4672776589038676e-10  Reject005=0 : Heteroscedasticity
998.0      24.0  24.0   86108439.39417726   6430160.659120206  3587851.6414240524  267923.36079667526  13.391335607150891  1.6550731007924924e-08  Reject005=0 : Heteroscedasticity
999.0      24.0  24.0   58498172.49848702   2346221.124402006  2437423.8541036258   97759.21351675026   24.93293231830259  1.9627410807743217e-11  Reject005=0 : Heteroscedasticity

[1000 rows x 9 columns]

In [11]:
result_show['Result_test'].value_counts()

Reject005=0 : Heteroscedasticity    1000
Name: Result_test, dtype: int64