<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/GQtest1_cluster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [71]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/gen_SAS.csv', index_col=['Replicate', 'no'])
df

                id       j        a  ...        E        y  Unnamed: 13
Replicate no                         ...
1.0       1.0  1.0   444.0  0.29919  ...  -297.88     7.54          NaN
          2.0  1.0   611.0  0.56787  ... -1703.41 -1309.72          NaN
          3.0  1.0  3145.0  0.73834  ...  1213.77  1668.95          NaN
          4.0  1.0  4032.0  0.12840  ...    91.70   305.60          NaN
          5.0  1.0  4175.0  0.96315  ...  -403.14   145.76          NaN
...            ...     ...      ...  ...      ...      ...          ...
NaN       NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN

[3150 rows x 12 columns]

In [72]:
# ลบ  colum
df.drop(['Unnamed: 13'], axis=1, inplace=True)
df

                id       j        a  ...       x3        E        y
Replicate no                         ...
1.0       1.0  1.0   444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0  1.0   611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0  1.0  3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0  1.0  4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0  1.0  4175.0  0.96315  ...  43.8453  -403.14   145.76
...            ...     ...      ...  ...      ...      ...      ...
NaN       NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN

[3150 rows x 11 columns]

In [73]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                 id        j        a  ...       x3        E        y
Replicate no                           ...
1.0       1.0   1.0    444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0   1.0    611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0   1.0   3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0   1.0   4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0   1.0   4175.0  0.96315  ...  43.8453  -403.14   145.76
...             ...      ...      ...  ...      ...      ...      ...
100.0     26.0  1.0  46183.0  0.38808  ...  10.4640   -53.99   238.96
          27.0  1.0  49111.0  0.40628  ...  26.8103    16.19   348.41
          28.0  1.0  49469.0  0.40030  ...  22.3726   389.88   714.03
          29.0  1.0  49549.0  0.10914  ...  23.0568  -256.29   -59.73
          30.0  1.0  49564.0  0.98557  ...  49.0006 -2606.61 -2008.68

[3000 rows x 11 columns]

In [74]:
table.reset_index(inplace=True)
table

      Replicate    no   id        j  ...       x2       x3        E        y
0           1.0   1.0  1.0    444.0  ...  43.4873  37.2578  -297.88     7.54
1           1.0   2.0  1.0    611.0  ...  38.4642  23.0795 -1703.41 -1309.72
2           1.0   3.0  1.0   3145.0  ...  19.3175  35.5201  1213.77  1668.95
3           1.0   4.0  1.0   4032.0  ...  35.7360  21.7985    91.70   305.60
4           1.0   5.0  1.0   4175.0  ...  14.7944  43.8453  -403.14   145.76
...         ...   ...  ...      ...  ...      ...      ...      ...      ...
2995      100.0  26.0  1.0  46183.0  ...  22.2501  10.4640   -53.99   238.96
2996      100.0  27.0  1.0  49111.0  ...  37.9048  26.8103    16.19   348.41
2997      100.0  28.0  1.0  49469.0  ...  36.6570  22.3726   389.88   714.03
2998      100.0  29.0  1.0  49549.0  ...  24.8457  23.0568  -256.29   -59.73
2999      100.0  30.0  1.0  49564.0  ...  49.7059  49.0006 -2606.61 -2008.68

[3000 rows x 13 columns]

In [75]:
table.set_index(['Replicate', 'no'], inplace=True)

In [76]:
table

                 id        j        a  ...       x3        E        y
Replicate no                           ...
1.0       1.0   1.0    444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0   1.0    611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0   1.0   3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0   1.0   4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0   1.0   4175.0  0.96315  ...  43.8453  -403.14   145.76
...             ...      ...      ...  ...      ...      ...      ...
100.0     26.0  1.0  46183.0  0.38808  ...  10.4640   -53.99   238.96
          27.0  1.0  49111.0  0.40628  ...  26.8103    16.19   348.41
          28.0  1.0  49469.0  0.40030  ...  22.3726   389.88   714.03
          29.0  1.0  49549.0  0.10914  ...  23.0568  -256.29   -59.73
          30.0  1.0  49564.0  0.98557  ...  49.0006 -2606.61 -2008.68

[3000 rows x 11 columns]

In [77]:
# แสดงค่าของ Replicate ที่ 1.0
new_table = table.loc[4.0]
new_table

       id        j        a        b  ...       x2       x3        E        y
no                                    ...
1.0   1.0   1197.0  0.95124  0.74098  ...  39.6393  26.6799  1365.04  1916.86
2.0   1.0   3129.0  0.83393  0.64093  ...  35.6371  49.4103  1764.92  2288.54
3.0   1.0   4775.0  0.71146  0.68202  ...  37.2808  45.9629  2414.84  2887.67
4.0   1.0   6119.0  0.95649  0.14786  ...  15.9143  43.0390 -1077.94  -531.39
5.0   1.0   6251.0  0.61625  0.99404  ...  49.7617  35.2495  -124.87   311.64
6.0   1.0   7101.0  0.36828  0.04613  ...  11.8452  32.9570  -310.65   -13.54
7.0   1.0   8256.0  0.67147  0.54683  ...  31.8732  39.3112  1981.91  2426.68
8.0   1.0   9397.0  0.32017  0.49998  ...  29.9993  47.1171  -212.53    97.65
9.0   1.0  14017.0  0.18680  0.64520  ...  35.8080  42.8893   158.23   416.65
10.0  1.0  14303.0  0.82311  0.96769  ...  48.7075  21.9208   806.89  1311.77
11.0  1.0  16197.0  0.42589  0.53948  ...  31.5793  18.6531   800.41  1126.00
12.0  1.0  19045.0  0.16001  0.21437  ...  18.5747  34.9227   184.04   406.54
13.0  1.0  19113.0  0.61780  0.20565  ...  18.2258  24.5806   394.77   789.70
14.0  1.0  21670.0  0.13304  0.44870  ...  27.9478  17.3876    99.32   302.87
15.0  1.0  26377.0  0.53418  0.49598  ...  29.8393  45.3915   404.84   798.74
16.0  1.0  27141.0  0.35499  0.21497  ...  18.5989  17.3708  -371.57   -88.61
17.0  1.0  27378.0  0.94386  0.60985  ...  34.3941  16.6760  3682.74  4216.35
18.0  1.0  28285.0  0.99573  0.31320  ...  22.5280  26.6594  2973.18  3525.66
19.0  1.0  29216.0  0.51672  0.29111  ...  21.6445  11.5665   164.96   509.86
20.0  1.0  30760.0  0.22945  0.77174  ...  40.8697  37.5422   -37.86   237.34
21.0  1.0  32203.0  0.42775  0.08167  ...  13.2667  16.9863  -118.93   187.43
22.0  1.0  32653.0  0.06300  0.95641  ...  48.2565  22.1726   -76.81   123.82
23.0  1.0  35626.0  0.03880  0.86329  ...  44.5314  28.3803    91.49   284.92
24.0  1.0  37123.0  0.29664  0.04897  ...  11.9586  32.6005  -555.51  -287.30
25.0  1.0  38021.0  0.57159  0.95040  ...  48.0161  18.0168  1307.98  1707.65
26.0  1.0  41983.0  0.02636  0.27677  ...  21.0709  21.0442    97.67   255.33
27.0  1.0  45113.0  0.47673  0.28609  ...  21.4436  22.1128   287.03   626.28
28.0  1.0  45920.0  0.19211  0.40082  ...  26.0330  11.9449   231.26   451.09
29.0  1.0  46914.0  0.78260  0.85814  ...  44.3258  28.9932  -192.73   298.63
30.0  1.0  47812.0  0.34735  0.44961  ...  27.9842  41.2583  -534.19  -221.01

[30 rows x 11 columns]

In [ ]:
# เรียง data จากน้อยไปมากตาม x1
#new_table_sort = new_table.sort_values('x1')
#new_table_sort

In [78]:
# show index
new_table.reset_index(inplace=True)
new_table

      no   id        j        a  ...       x2       x3        E        y
0    1.0  1.0   1197.0  0.95124  ...  39.6393  26.6799  1365.04  1916.86
1    2.0  1.0   3129.0  0.83393  ...  35.6371  49.4103  1764.92  2288.54
2    3.0  1.0   4775.0  0.71146  ...  37.2808  45.9629  2414.84  2887.67
3    4.0  1.0   6119.0  0.95649  ...  15.9143  43.0390 -1077.94  -531.39
4    5.0  1.0   6251.0  0.61625  ...  49.7617  35.2495  -124.87   311.64
5    6.0  1.0   7101.0  0.36828  ...  11.8452  32.9570  -310.65   -13.54
6    7.0  1.0   8256.0  0.67147  ...  31.8732  39.3112  1981.91  2426.68
7    8.0  1.0   9397.0  0.32017  ...  29.9993  47.1171  -212.53    97.65
8    9.0  1.0  14017.0  0.18680  ...  35.8080  42.8893   158.23   416.65
9   10.0  1.0  14303.0  0.82311  ...  48.7075  21.9208   806.89  1311.77
10  11.0  1.0  16197.0  0.42589  ...  31.5793  18.6531   800.41  1126.00
11  12.0  1.0  19045.0  0.16001  ...  18.5747  34.9227   184.04   406.54
12  13.0  1.0  19113.0  0.61780  ...  18.2258  24.5806   394.77   789.70
13  14.0  1.0  21670.0  0.13304  ...  27.9478  17.3876    99.32   302.87
14  15.0  1.0  26377.0  0.53418  ...  29.8393  45.3915   404.84   798.74
15  16.0  1.0  27141.0  0.35499  ...  18.5989  17.3708  -371.57   -88.61
16  17.0  1.0  27378.0  0.94386  ...  34.3941  16.6760  3682.74  4216.35
17  18.0  1.0  28285.0  0.99573  ...  22.5280  26.6594  2973.18  3525.66
18  19.0  1.0  29216.0  0.51672  ...  21.6445  11.5665   164.96   509.86
19  20.0  1.0  30760.0  0.22945  ...  40.8697  37.5422   -37.86   237.34
20  21.0  1.0  32203.0  0.42775  ...  13.2667  16.9863  -118.93   187.43
21  22.0  1.0  32653.0  0.06300  ...  48.2565  22.1726   -76.81   123.82
22  23.0  1.0  35626.0  0.03880  ...  44.5314  28.3803    91.49   284.92
23  24.0  1.0  37123.0  0.29664  ...  11.9586  32.6005  -555.51  -287.30
24  25.0  1.0  38021.0  0.57159  ...  48.0161  18.0168  1307.98  1707.65
25  26.0  1.0  41983.0  0.02636  ...  21.0709  21.0442    97.67   255.33
26  27.0  1.0  45113.0  0.47673  ...  21.4436  22.1128   287.03   626.28
27  28.0  1.0  45920.0  0.19211  ...  26.0330  11.9449   231.26   451.09
28  29.0  1.0  46914.0  0.78260  ...  44.3258  28.9932  -192.73   298.63
29  30.0  1.0  47812.0  0.34735  ...  27.9842  41.2583  -534.19  -221.01

[30 rows x 12 columns]

In [79]:
new_table.drop(['no', 'id', 'j', 'a', 'b', 'c', 'z', 'E'], axis=1, inplace=True)
new_table

         x1       x2       x3        y
0   48.0495  39.6393  26.6799  1916.86
1   43.3572  35.6371  49.4103  2288.54
2   38.4584  37.2808  45.9629  2887.67
3   48.2597  15.9143  43.0390  -531.39
4   34.6500  49.7617  35.2495   311.64
5   24.7314  11.8452  32.9570   -13.54
6   36.8589  31.8732  39.3112  2426.68
7   22.8067  29.9993  47.1171    97.65
8   17.4719  35.8080  42.8893   416.65
9   42.9244  48.7075  21.9208  1311.77
10  27.0355  31.5793  18.6531  1126.00
11  16.4004  18.5747  34.9227   406.54
12  34.7120  18.2258  24.5806   789.70
13  15.3216  27.9478  17.3876   302.87
14  31.3671  29.8393  45.3915   798.74
15  24.1997  18.5989  17.3708   -88.61
16  47.7543  34.3941  16.6760  4216.35
17  49.8293  22.5280  26.6594  3525.66
18  30.6687  21.6445  11.5665   509.86
19  19.1782  40.8697  37.5422   237.34
20  27.1101  13.2667  16.9863   187.43
21  12.5199  48.2565  22.1726   123.82
22  11.5520  44.5314  28.3803   284.92
23  21.8657  11.9586  32.6005  -287.30
24  32.8636  48.0161  18.0168  1707.65
25  11.0546  21.0709  21.0442   255.33
26  29.0692  21.4436  22.1128   626.28
27  17.6845  26.0330  11.9449   451.09
28  41.3041  44.3258  28.9932   298.63
29  23.8941  27.9842  41.2583  -221.01

In [80]:
new_table.head()

        x1       x2       x3        y
0  48.0495  39.6393  26.6799  1916.86
1  43.3572  35.6371  49.4103  2288.54
2  38.4584  37.2808  45.9629  2887.67
3  48.2597  15.9143  43.0390  -531.39
4  34.6500  49.7617  35.2495   311.64

In [81]:
# แบ่งข้อมูลออกเป็น 2 กลุ่มด้วย k-mean

#Set number of clusters
x = new_table[["x1", "x2", "x3"]]
k_means = KMeans(n_clusters=2)

#Run the clustering algorithm
model = k_means.fit(x)
model

#Generate cluster predictions and store in y_kmeans
#km.fit(x)
y_kmeans = k_means.predict(x)
y_kmeans

array([0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1], dtype=int32)

In [82]:
# kmean_clusters.astype(float)
kmean_clusters = pd.DataFrame({"clusters" : y_kmeans})
kmean_clusters

    clusters
0          0
1          0
2          0
3          0
4          0
5          1
6          0
7          1
8          1
9          0
10         1
11         1
12         1
13         1
14         0
15         1
16         0
17         0
18         1
19         1
20         1
21         1
22         1
23         1
24         0
25         1
26         1
27         1
28         0
29         1

In [83]:
# เชื่อมข้อมูลทั้ง 2 DataFrame เข้าด้วยกันด้วยคำสั่ง pd.merge
data_clusters = pd.merge(new_table, kmean_clusters, left_on='x1', right_on='clusters', left_index=True, right_index=True)
data_clusters

/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:1117: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  UserWarning,

         x1       x2       x3        y  clusters
0   48.0495  39.6393  26.6799  1916.86         0
1   43.3572  35.6371  49.4103  2288.54         0
2   38.4584  37.2808  45.9629  2887.67         0
3   48.2597  15.9143  43.0390  -531.39         0
4   34.6500  49.7617  35.2495   311.64         0
5   24.7314  11.8452  32.9570   -13.54         1
6   36.8589  31.8732  39.3112  2426.68         0
7   22.8067  29.9993  47.1171    97.65         1
8   17.4719  35.8080  42.8893   416.65         1
9   42.9244  48.7075  21.9208  1311.77         0
10  27.0355  31.5793  18.6531  1126.00         1
11  16.4004  18.5747  34.9227   406.54         1
12  34.7120  18.2258  24.5806   789.70         1
13  15.3216  27.9478  17.3876   302.87         1
14  31.3671  29.8393  45.3915   798.74         0
15  24.1997  18.5989  17.3708   -88.61         1
16  47.7543  34.3941  16.6760  4216.35         0
17  49.8293  22.5280  26.6594  3525.66         0
18  30.6687  21.6445  11.5665   509.86         1
19  19.1782  40.8697  37.5422   237.34         1
20  27.1101  13.2667  16.9863   187.43         1
21  12.5199  48.2565  22.1726   123.82         1
22  11.5520  44.5314  28.3803   284.92         1
23  21.8657  11.9586  32.6005  -287.30         1
24  32.8636  48.0161  18.0168  1707.65         0
25  11.0546  21.0709  21.0442   255.33         1
26  29.0692  21.4436  22.1128   626.28         1
27  17.6845  26.0330  11.9449   451.09         1
28  41.3041  44.3258  28.9932   298.63         0
29  23.8941  27.9842  41.2583  -221.01         1

In [84]:
data_sort_clusters = data_clusters.sort_values('clusters')
data_sort_clusters

         x1       x2       x3        y  clusters
0   48.0495  39.6393  26.6799  1916.86         0
24  32.8636  48.0161  18.0168  1707.65         0
17  49.8293  22.5280  26.6594  3525.66         0
16  47.7543  34.3941  16.6760  4216.35         0
28  41.3041  44.3258  28.9932   298.63         0
9   42.9244  48.7075  21.9208  1311.77         0
14  31.3671  29.8393  45.3915   798.74         0
1   43.3572  35.6371  49.4103  2288.54         0
4   34.6500  49.7617  35.2495   311.64         0
3   48.2597  15.9143  43.0390  -531.39         0
2   38.4584  37.2808  45.9629  2887.67         0
6   36.8589  31.8732  39.3112  2426.68         0
7   22.8067  29.9993  47.1171    97.65         1
27  17.6845  26.0330  11.9449   451.09         1
26  29.0692  21.4436  22.1128   626.28         1
25  11.0546  21.0709  21.0442   255.33         1
23  21.8657  11.9586  32.6005  -287.30         1
22  11.5520  44.5314  28.3803   284.92         1
21  12.5199  48.2565  22.1726   123.82         1
20  27.1101  13.2667  16.9863   187.43         1
18  30.6687  21.6445  11.5665   509.86         1
15  24.1997  18.5989  17.3708   -88.61         1
13  15.3216  27.9478  17.3876   302.87         1
12  34.7120  18.2258  24.5806   789.70         1
11  16.4004  18.5747  34.9227   406.54         1
10  27.0355  31.5793  18.6531  1126.00         1
5   24.7314  11.8452  32.9570   -13.54         1
8   17.4719  35.8080  42.8893   416.65         1
19  19.1782  40.8697  37.5422   237.34         1
29  23.8941  27.9842  41.2583  -221.01         1

In [85]:
print(data_clusters.groupby('clusters').groups)

{0: [0, 1, 2, 3, 4, 6, 9, 14, 16, 17, 24, 28], 1: [5, 7, 8, 10, 11, 12, 13, 15, 18, 19, 20, 21, 22, 23, 25, 26, 27, 29]}

In [86]:
data_sort_clusters.reset_index(inplace=True)
data_sort_clusters

    index       x1       x2       x3        y  clusters
0       0  48.0495  39.6393  26.6799  1916.86         0
1      24  32.8636  48.0161  18.0168  1707.65         0
2      17  49.8293  22.5280  26.6594  3525.66         0
3      16  47.7543  34.3941  16.6760  4216.35         0
4      28  41.3041  44.3258  28.9932   298.63         0
5       9  42.9244  48.7075  21.9208  1311.77         0
6      14  31.3671  29.8393  45.3915   798.74         0
7       1  43.3572  35.6371  49.4103  2288.54         0
8       4  34.6500  49.7617  35.2495   311.64         0
9       3  48.2597  15.9143  43.0390  -531.39         0
10      2  38.4584  37.2808  45.9629  2887.67         0
11      6  36.8589  31.8732  39.3112  2426.68         0
12      7  22.8067  29.9993  47.1171    97.65         1
13     27  17.6845  26.0330  11.9449   451.09         1
14     26  29.0692  21.4436  22.1128   626.28         1
15     25  11.0546  21.0709  21.0442   255.33         1
16     23  21.8657  11.9586  32.6005  -287.30         1
17     22  11.5520  44.5314  28.3803   284.92         1
18     21  12.5199  48.2565  22.1726   123.82         1
19     20  27.1101  13.2667  16.9863   187.43         1
20     18  30.6687  21.6445  11.5665   509.86         1
21     15  24.1997  18.5989  17.3708   -88.61         1
22     13  15.3216  27.9478  17.3876   302.87         1
23     12  34.7120  18.2258  24.5806   789.70         1
24     11  16.4004  18.5747  34.9227   406.54         1
25     10  27.0355  31.5793  18.6531  1126.00         1
26      5  24.7314  11.8452  32.9570   -13.54         1
27      8  17.4719  35.8080  42.8893   416.65         1
28     19  19.1782  40.8697  37.5422   237.34         1
29     29  23.8941  27.9842  41.2583  -221.01         1

In [55]:
print(data_sort_clusters.groupby('clusters').groups)

{0: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 1: [11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]}

In [56]:
data_sort_clusters.columns

Index(['index', 'x1', 'x2', 'x3', 'y', 'clusters'], dtype='object')

In [87]:
import pandas as pd
import numpy as np
import time
import statsmodels.api as sm
from sklearn import linear_model

In [88]:
data_cluster1 = data_sort_clusters[data_sort_clusters.clusters == 1]
data_cluster1

y = data_cluster1[['y']]
x = data_cluster1[['x1', 'x2', 'x3']]
x = sm.add_constant(x) # adding a constant
model1 = sm.OLS(y, x).fit()

In [89]:
print_model1 = model1.summary()
print(print_model1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.350
Model:                            OLS   Adj. R-squared:                  0.211
Method:                 Least Squares   F-statistic:                     2.511
Date:                Sun, 01 Aug 2021   Prob (F-statistic):              0.101
Time:                        08:19:29   Log-Likelihood:                -126.56
No. Observations:                  18   AIC:                             261.1
Df Residuals:                      14   BIC:                             264.7
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -291.7342    468.185     -0.623      0.543   -1295.892     712.424
x1            24.5065     12.955      1.892      0.079      -3.279      52.292
x2            15.0140      8.220      1.827      0.089      -2.615      32.643
x3           -12.6394      7.064     -1.789      0.095     -27.791       2.512
==============================================================================
Omnibus:                        0.449   Durbin-Watson:                   1.248
Prob(Omnibus):                  0.799   Jarque-Bera (JB):                0.552
Skew:                           0.159   Prob(JB):                        0.759
Kurtosis:                       2.203   Cond. No.                         282.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=18
  "anyway, n=%i" % int(n))

In [90]:
DF1 = model1.df_resid
DF1

14.0

In [91]:
SSR1 = model1.ssr
SSR1

1348925.6032173575

In [92]:
MSE1 = model1.mse_resid
MSE1

96351.82880123983

In [93]:
data_cluster0 = data_sort_clusters[data_sort_clusters.clusters == 0]
data_cluster0

y = data_cluster0[['y']]
x = data_cluster0[['x1', 'x2', 'x3']]
x = sm.add_constant(x)
model0 = sm.OLS(y, x).fit()

In [ ]:
#print_model0 = model0.summary()
#print(print_model0)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.527
Model:                            OLS   Adj. R-squared:                  0.409
Method:                 Least Squares   F-statistic:                     4.460
Date:                Thu, 29 Jul 2021   Prob (F-statistic):             0.0252
Time:                        14:58:03   Log-Likelihood:                -134.15
No. Observations:                  16   AIC:                             276.3
Df Residuals:                      12   BIC:                             279.4
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       8458.9708   2517.463      3.360      0.006    2973.890    1.39e+04
x1           -42.9429     29.556     -1.453      0.172    -107.341      21.455
x2           -47.2869     28.928     -1.635      0.128    -110.317      15.743
x3          -144.6864     46.455     -3.115      0.009    -245.903     -43.470
==============================================================================
Omnibus:                        0.428   Durbin-Watson:                   2.142
Prob(Omnibus):                  0.807   Jarque-Bera (JB):                0.525
Skew:                          -0.117   Prob(JB):                        0.769
Kurtosis:                       2.144   Cond. No.                         525.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))

In [94]:
DF0 = model0.df_resid
DF0

8.0

In [28]:
SSR0 = model0.ssr
SSR0

17948247.73367832

In [29]:
MSE0 = model0.mse_resid
MSE0

1495687.31113986

In [30]:
GQ_test_clusters = MSE1 / MSE0
GQ_test_clusters

0.2740189965216053

In [31]:
# เปรียบเทียบค่าสถิติกับค่าวิกฤต
if GQ_test_clusters > 2.9130:
  print('Reject005=0 : Heteroscedasticity ')
else:
  print('Reject005=1 : Homoscedasticity ')

Reject005=1 : Homoscedasticity