<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/GQtest1_cluster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [35]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/gen_SAS.csv', index_col=['Replicate', 'no'])
df

                id       j        a  ...        E        y  Unnamed: 13
Replicate no                         ...
1.0       1.0  1.0   444.0  0.29919  ...  -297.88     7.54          NaN
          2.0  1.0   611.0  0.56787  ... -1703.41 -1309.72          NaN
          3.0  1.0  3145.0  0.73834  ...  1213.77  1668.95          NaN
          4.0  1.0  4032.0  0.12840  ...    91.70   305.60          NaN
          5.0  1.0  4175.0  0.96315  ...  -403.14   145.76          NaN
...            ...     ...      ...  ...      ...      ...          ...
NaN       NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN

[3150 rows x 12 columns]

In [36]:
# ลบ  colum
df.drop(['Unnamed: 13'], axis=1, inplace=True)
df

                id       j        a  ...       x3        E        y
Replicate no                         ...
1.0       1.0  1.0   444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0  1.0   611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0  1.0  3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0  1.0  4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0  1.0  4175.0  0.96315  ...  43.8453  -403.14   145.76
...            ...     ...      ...  ...      ...      ...      ...
NaN       NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN

[3150 rows x 11 columns]

In [37]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                 id        j        a  ...       x3        E        y
Replicate no                           ...
1.0       1.0   1.0    444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0   1.0    611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0   1.0   3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0   1.0   4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0   1.0   4175.0  0.96315  ...  43.8453  -403.14   145.76
...             ...      ...      ...  ...      ...      ...      ...
100.0     26.0  1.0  46183.0  0.38808  ...  10.4640   -53.99   238.96
          27.0  1.0  49111.0  0.40628  ...  26.8103    16.19   348.41
          28.0  1.0  49469.0  0.40030  ...  22.3726   389.88   714.03
          29.0  1.0  49549.0  0.10914  ...  23.0568  -256.29   -59.73
          30.0  1.0  49564.0  0.98557  ...  49.0006 -2606.61 -2008.68

[3000 rows x 11 columns]

In [38]:
table.reset_index(inplace=True)
table

      Replicate    no   id        j  ...       x2       x3        E        y
0           1.0   1.0  1.0    444.0  ...  43.4873  37.2578  -297.88     7.54
1           1.0   2.0  1.0    611.0  ...  38.4642  23.0795 -1703.41 -1309.72
2           1.0   3.0  1.0   3145.0  ...  19.3175  35.5201  1213.77  1668.95
3           1.0   4.0  1.0   4032.0  ...  35.7360  21.7985    91.70   305.60
4           1.0   5.0  1.0   4175.0  ...  14.7944  43.8453  -403.14   145.76
...         ...   ...  ...      ...  ...      ...      ...      ...      ...
2995      100.0  26.0  1.0  46183.0  ...  22.2501  10.4640   -53.99   238.96
2996      100.0  27.0  1.0  49111.0  ...  37.9048  26.8103    16.19   348.41
2997      100.0  28.0  1.0  49469.0  ...  36.6570  22.3726   389.88   714.03
2998      100.0  29.0  1.0  49549.0  ...  24.8457  23.0568  -256.29   -59.73
2999      100.0  30.0  1.0  49564.0  ...  49.7059  49.0006 -2606.61 -2008.68

[3000 rows x 13 columns]

In [39]:
table.set_index(['Replicate', 'no'], inplace=True)

In [40]:
table

                 id        j        a  ...       x3        E        y
Replicate no                           ...
1.0       1.0   1.0    444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0   1.0    611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0   1.0   3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0   1.0   4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0   1.0   4175.0  0.96315  ...  43.8453  -403.14   145.76
...             ...      ...      ...  ...      ...      ...      ...
100.0     26.0  1.0  46183.0  0.38808  ...  10.4640   -53.99   238.96
          27.0  1.0  49111.0  0.40628  ...  26.8103    16.19   348.41
          28.0  1.0  49469.0  0.40030  ...  22.3726   389.88   714.03
          29.0  1.0  49549.0  0.10914  ...  23.0568  -256.29   -59.73
          30.0  1.0  49564.0  0.98557  ...  49.0006 -2606.61 -2008.68

[3000 rows x 11 columns]

In [41]:
# แสดงค่าของ Replicate ที่ 1.0
new_table = table.loc[2.0]
new_table

       id        j        a        b  ...       x2       x3        E        y
no                                    ...
1.0   1.0   1981.0  0.04348  0.61021  ...  34.4085  10.3990     7.38   174.58
2.0   1.0   2531.0  0.29017  0.09951  ...  13.9804  37.9065   793.33  1066.29
3.0   1.0   4150.0  0.90452  0.61563  ...  34.6253  36.6870  -961.59  -423.47
4.0   1.0   5575.0  0.93773  0.73333  ...  39.3333  47.8875  -757.36  -190.04
5.0   1.0   8586.0  0.89747  0.60273  ...  34.1092  29.0339  -447.92    79.21
6.0   1.0   9607.0  0.73398  0.63032  ...  35.2127  36.4801   521.56   991.85
7.0   1.0  12280.0  0.86419  0.39704  ...  25.8818  35.0283  1821.96  2333.55
8.0   1.0  16304.0  0.94392  0.18516  ...  17.4062  49.9020 -1049.17  -499.30
9.0   1.0  17299.0  0.55090  0.52479  ...  30.9915  15.5130    12.89   384.75
10.0  1.0  19227.0  0.16823  0.45283  ...  28.1131  11.6360   458.46   670.51
11.0  1.0  21452.0  0.09728  0.89701  ...  45.8805  47.0972   200.27   437.16
12.0  1.0  21876.0  0.73790  0.28337  ...  21.3349  44.8408  -936.43  -470.09
13.0  1.0  23958.0  0.24720  0.63197  ...  35.2788  12.2183   220.61   471.99
14.0  1.0  24111.0  0.06433  0.73625  ...  39.4502  45.7340  -140.91    75.01
15.0  1.0  24967.0  0.37472  0.62599  ...  35.0395  26.3487  1286.95  1603.23
16.0  1.0  26580.0  0.03560  0.21140  ...  18.4558  36.4210  -269.48   -95.36
17.0  1.0  28338.0  0.56153  0.32213  ...  22.8851  41.3863  -407.77   -13.89
18.0  1.0  28798.0  0.82107  0.42210  ...  26.8838  20.2515  2860.58  3341.15
19.0  1.0  29166.0  0.91482  0.35936  ...  24.3742  42.9263  4010.57  4548.80
20.0  1.0  29722.0  0.57724  0.98427  ...  49.3709  24.5639   846.55  1256.38
21.0  1.0  34834.0  0.98680  0.52949  ...  31.1796  21.5995  1169.70  1722.20
22.0  1.0  35440.0  0.80057  0.68051  ...  37.2205  41.0490  2613.40  3116.90
23.0  1.0  37453.0  0.46342  0.61599  ...  34.6395  33.4593 -1539.22 -1180.75
24.0  1.0  45190.0  0.72916  0.76719  ...  40.6875  49.1697  2243.38  2729.90
25.0  1.0  46111.0  0.28435  0.66059  ...  36.4234  23.3644  -787.89  -509.36
26.0  1.0  46331.0  0.11423  0.06102  ...  12.4410  33.9022  -129.93    67.11
27.0  1.0  47742.0  0.33653  0.98745  ...  49.4981  45.9538  -453.89  -118.83
28.0  1.0  48033.0  0.22781  0.29560  ...  21.8239  13.9167   152.01   383.88
29.0  1.0  48260.0  0.94233  0.57001  ...  32.8005  38.9682 -1311.74  -758.04
30.0  1.0  49468.0  0.79715  0.59980  ...  33.9919  14.9049 -2380.77 -1908.02

[30 rows x 11 columns]

In [ ]:
# เรียง data จากน้อยไปมากตาม x1
#new_table_sort = new_table.sort_values('x1')
#new_table_sort

In [42]:
# show index
new_table.reset_index(inplace=True)
new_table

      no   id        j        a  ...       x2       x3        E        y
0    1.0  1.0   1981.0  0.04348  ...  34.4085  10.3990     7.38   174.58
1    2.0  1.0   2531.0  0.29017  ...  13.9804  37.9065   793.33  1066.29
2    3.0  1.0   4150.0  0.90452  ...  34.6253  36.6870  -961.59  -423.47
3    4.0  1.0   5575.0  0.93773  ...  39.3333  47.8875  -757.36  -190.04
4    5.0  1.0   8586.0  0.89747  ...  34.1092  29.0339  -447.92    79.21
5    6.0  1.0   9607.0  0.73398  ...  35.2127  36.4801   521.56   991.85
6    7.0  1.0  12280.0  0.86419  ...  25.8818  35.0283  1821.96  2333.55
7    8.0  1.0  16304.0  0.94392  ...  17.4062  49.9020 -1049.17  -499.30
8    9.0  1.0  17299.0  0.55090  ...  30.9915  15.5130    12.89   384.75
9   10.0  1.0  19227.0  0.16823  ...  28.1131  11.6360   458.46   670.51
10  11.0  1.0  21452.0  0.09728  ...  45.8805  47.0972   200.27   437.16
11  12.0  1.0  21876.0  0.73790  ...  21.3349  44.8408  -936.43  -470.09
12  13.0  1.0  23958.0  0.24720  ...  35.2788  12.2183   220.61   471.99
13  14.0  1.0  24111.0  0.06433  ...  39.4502  45.7340  -140.91    75.01
14  15.0  1.0  24967.0  0.37472  ...  35.0395  26.3487  1286.95  1603.23
15  16.0  1.0  26580.0  0.03560  ...  18.4558  36.4210  -269.48   -95.36
16  17.0  1.0  28338.0  0.56153  ...  22.8851  41.3863  -407.77   -13.89
17  18.0  1.0  28798.0  0.82107  ...  26.8838  20.2515  2860.58  3341.15
18  19.0  1.0  29166.0  0.91482  ...  24.3742  42.9263  4010.57  4548.80
19  20.0  1.0  29722.0  0.57724  ...  49.3709  24.5639   846.55  1256.38
20  21.0  1.0  34834.0  0.98680  ...  31.1796  21.5995  1169.70  1722.20
21  22.0  1.0  35440.0  0.80057  ...  37.2205  41.0490  2613.40  3116.90
22  23.0  1.0  37453.0  0.46342  ...  34.6395  33.4593 -1539.22 -1180.75
23  24.0  1.0  45190.0  0.72916  ...  40.6875  49.1697  2243.38  2729.90
24  25.0  1.0  46111.0  0.28435  ...  36.4234  23.3644  -787.89  -509.36
25  26.0  1.0  46331.0  0.11423  ...  12.4410  33.9022  -129.93    67.11
26  27.0  1.0  47742.0  0.33653  ...  49.4981  45.9538  -453.89  -118.83
27  28.0  1.0  48033.0  0.22781  ...  21.8239  13.9167   152.01   383.88
28  29.0  1.0  48260.0  0.94233  ...  32.8005  38.9682 -1311.74  -758.04
29  30.0  1.0  49468.0  0.79715  ...  33.9919  14.9049 -2380.77 -1908.02

[30 rows x 12 columns]

In [43]:
new_table.drop(['no', 'id', 'j', 'a', 'b', 'c', 'z', 'E'], axis=1, inplace=True)
new_table

         x1       x2       x3        y
0   11.7391  34.4085  10.3990   174.58
1   21.6069  13.9804  37.9065  1066.29
2   46.1807  34.6253  36.6870  -423.47
3   47.5091  39.3333  47.8875  -190.04
4   45.8987  34.1092  29.0339    79.21
5   39.3594  35.2127  36.4801   991.85
6   44.5677  25.8818  35.0283  2333.55
7   47.7569  17.4062  49.9020  -499.30
8   32.0359  30.9915  15.5130   384.75
9   16.7292  28.1131  11.6360   670.51
10  13.8911  45.8805  47.0972   437.16
11  39.5162  21.3349  44.8408  -470.09
12  19.8880  35.2788  12.2183   471.99
13  12.5730  39.4502  45.7340    75.01
14  24.9890  35.0395  26.3487  1603.23
15  11.4242  18.4558  36.4210   -95.36
16  32.4612  22.8851  41.3863   -13.89
17  42.8429  26.8838  20.2515  3341.15
18  46.5930  24.3742  42.9263  4548.80
19  33.0894  49.3709  24.5639  1256.38
20  49.4719  31.1796  21.5995  1722.20
21  42.0227  37.2205  41.0490  3116.90
22  28.5370  34.6395  33.4593 -1180.75
23  39.1664  40.6875  49.1697  2729.90
24  21.3740  36.4234  23.3644  -509.36
25  14.5693  12.4410  33.9022    67.11
26  23.4613  49.4981  45.9538  -118.83
27  19.1123  21.8239  13.9167   383.88
28  47.6932  32.8005  38.9682  -758.04
29  41.8861  33.9919  14.9049 -1908.02

In [44]:
new_table.head()

        x1       x2       x3        y
0  11.7391  34.4085  10.3990   174.58
1  21.6069  13.9804  37.9065  1066.29
2  46.1807  34.6253  36.6870  -423.47
3  47.5091  39.3333  47.8875  -190.04
4  45.8987  34.1092  29.0339    79.21

In [45]:
# แบ่งข้อมูลออกเป็น 2 กลุ่มด้วย k-mean

#Set number of clusters
x = new_table[["x1", "x2", "x3"]]
k_means = KMeans(n_clusters=2)

#Run the clustering algorithm
model = k_means.fit(x)
model

#Generate cluster predictions and store in y_kmeans
#km.fit(x)
y_kmeans = k_means.predict(x)
y_kmeans

array([0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 1], dtype=int32)

In [46]:
# kmean_clusters.astype(float)
kmean_clusters = pd.DataFrame({"clusters" : y_kmeans})
kmean_clusters

    clusters
0          0
1          0
2          1
3          1
4          1
5          1
6          1
7          1
8          0
9          0
10         0
11         1
12         0
13         0
14         0
15         0
16         1
17         1
18         1
19         0
20         1
21         1
22         0
23         1
24         0
25         0
26         0
27         0
28         1
29         1

In [47]:
# เชื่อมข้อมูลทั้ง 2 DataFrame เข้าด้วยกันด้วยคำสั่ง pd.merge
data_clusters = pd.merge(new_table, kmean_clusters, left_on='x1', right_on='clusters', left_index=True, right_index=True)
data_clusters

/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:1117: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  UserWarning,

         x1       x2       x3        y  clusters
0   11.7391  34.4085  10.3990   174.58         0
1   21.6069  13.9804  37.9065  1066.29         0
2   46.1807  34.6253  36.6870  -423.47         1
3   47.5091  39.3333  47.8875  -190.04         1
4   45.8987  34.1092  29.0339    79.21         1
5   39.3594  35.2127  36.4801   991.85         1
6   44.5677  25.8818  35.0283  2333.55         1
7   47.7569  17.4062  49.9020  -499.30         1
8   32.0359  30.9915  15.5130   384.75         0
9   16.7292  28.1131  11.6360   670.51         0
10  13.8911  45.8805  47.0972   437.16         0
11  39.5162  21.3349  44.8408  -470.09         1
12  19.8880  35.2788  12.2183   471.99         0
13  12.5730  39.4502  45.7340    75.01         0
14  24.9890  35.0395  26.3487  1603.23         0
15  11.4242  18.4558  36.4210   -95.36         0
16  32.4612  22.8851  41.3863   -13.89         1
17  42.8429  26.8838  20.2515  3341.15         1
18  46.5930  24.3742  42.9263  4548.80         1
19  33.0894  49.3709  24.5639  1256.38         0
20  49.4719  31.1796  21.5995  1722.20         1
21  42.0227  37.2205  41.0490  3116.90         1
22  28.5370  34.6395  33.4593 -1180.75         0
23  39.1664  40.6875  49.1697  2729.90         1
24  21.3740  36.4234  23.3644  -509.36         0
25  14.5693  12.4410  33.9022    67.11         0
26  23.4613  49.4981  45.9538  -118.83         0
27  19.1123  21.8239  13.9167   383.88         0
28  47.6932  32.8005  38.9682  -758.04         1
29  41.8861  33.9919  14.9049 -1908.02         1

In [48]:
data_sort_clusters = data_clusters.sort_values('clusters')
data_sort_clusters

         x1       x2       x3        y  clusters
0   11.7391  34.4085  10.3990   174.58         0
27  19.1123  21.8239  13.9167   383.88         0
26  23.4613  49.4981  45.9538  -118.83         0
25  14.5693  12.4410  33.9022    67.11         0
24  21.3740  36.4234  23.3644  -509.36         0
22  28.5370  34.6395  33.4593 -1180.75         0
19  33.0894  49.3709  24.5639  1256.38         0
15  11.4242  18.4558  36.4210   -95.36         0
13  12.5730  39.4502  45.7340    75.01         0
12  19.8880  35.2788  12.2183   471.99         0
14  24.9890  35.0395  26.3487  1603.23         0
9   16.7292  28.1131  11.6360   670.51         0
8   32.0359  30.9915  15.5130   384.75         0
1   21.6069  13.9804  37.9065  1066.29         0
10  13.8911  45.8805  47.0972   437.16         0
11  39.5162  21.3349  44.8408  -470.09         1
2   46.1807  34.6253  36.6870  -423.47         1
3   47.5091  39.3333  47.8875  -190.04         1
4   45.8987  34.1092  29.0339    79.21         1
23  39.1664  40.6875  49.1697  2729.90         1
5   39.3594  35.2127  36.4801   991.85         1
20  49.4719  31.1796  21.5995  1722.20         1
6   44.5677  25.8818  35.0283  2333.55         1
18  46.5930  24.3742  42.9263  4548.80         1
17  42.8429  26.8838  20.2515  3341.15         1
16  32.4612  22.8851  41.3863   -13.89         1
7   47.7569  17.4062  49.9020  -499.30         1
28  47.6932  32.8005  38.9682  -758.04         1
21  42.0227  37.2205  41.0490  3116.90         1
29  41.8861  33.9919  14.9049 -1908.02         1

In [49]:
print(data_clusters.groupby('clusters').groups)

{0: [0, 1, 8, 9, 10, 12, 13, 14, 15, 19, 22, 24, 25, 26, 27], 1: [2, 3, 4, 5, 6, 7, 11, 16, 17, 18, 20, 21, 23, 28, 29]}

In [50]:
data_sort_clusters.reset_index(inplace=True)
data_sort_clusters

    index       x1       x2       x3        y  clusters
0       0  11.7391  34.4085  10.3990   174.58         0
1      27  19.1123  21.8239  13.9167   383.88         0
2      26  23.4613  49.4981  45.9538  -118.83         0
3      25  14.5693  12.4410  33.9022    67.11         0
4      24  21.3740  36.4234  23.3644  -509.36         0
5      22  28.5370  34.6395  33.4593 -1180.75         0
6      19  33.0894  49.3709  24.5639  1256.38         0
7      15  11.4242  18.4558  36.4210   -95.36         0
8      13  12.5730  39.4502  45.7340    75.01         0
9      12  19.8880  35.2788  12.2183   471.99         0
10     14  24.9890  35.0395  26.3487  1603.23         0
11      9  16.7292  28.1131  11.6360   670.51         0
12      8  32.0359  30.9915  15.5130   384.75         0
13      1  21.6069  13.9804  37.9065  1066.29         0
14     10  13.8911  45.8805  47.0972   437.16         0
15     11  39.5162  21.3349  44.8408  -470.09         1
16      2  46.1807  34.6253  36.6870  -423.47         1
17      3  47.5091  39.3333  47.8875  -190.04         1
18      4  45.8987  34.1092  29.0339    79.21         1
19     23  39.1664  40.6875  49.1697  2729.90         1
20      5  39.3594  35.2127  36.4801   991.85         1
21     20  49.4719  31.1796  21.5995  1722.20         1
22      6  44.5677  25.8818  35.0283  2333.55         1
23     18  46.5930  24.3742  42.9263  4548.80         1
24     17  42.8429  26.8838  20.2515  3341.15         1
25     16  32.4612  22.8851  41.3863   -13.89         1
26      7  47.7569  17.4062  49.9020  -499.30         1
27     28  47.6932  32.8005  38.9682  -758.04         1
28     21  42.0227  37.2205  41.0490  3116.90         1
29     29  41.8861  33.9919  14.9049 -1908.02         1

In [51]:
print(data_sort_clusters.groupby('clusters').groups)

{0: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], 1: [15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]}

In [52]:
data_sort_clusters.columns

Index(['index', 'x1', 'x2', 'x3', 'y', 'clusters'], dtype='object')

In [53]:
import pandas as pd
import numpy as np
import time
import statsmodels.api as sm
from sklearn import linear_model

In [54]:
data_cluster1 = data_sort_clusters[data_sort_clusters.clusters == 1]
data_cluster1

y = data_cluster1[['y']]
x = data_cluster1[['x1', 'x2', 'x3']]
x = sm.add_constant(x) # adding a constant
model1 = sm.OLS(y, x).fit()

In [55]:
print_model1 = model1.summary()
print(print_model1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.005
Model:                            OLS   Adj. R-squared:                 -0.267
Method:                 Least Squares   F-statistic:                   0.01803
Date:                Fri, 30 Jul 2021   Prob (F-statistic):              0.997
Time:                        08:11:58   Log-Likelihood:                -133.76
No. Observations:                  15   AIC:                             275.5
Df Residuals:                      11   BIC:                             278.4
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.9256   6415.227     -0.001      0.999   -1.41e+04    1.41e+04
x1             8.6777    124.842      0.070      0.946    -266.097     283.452
x2             5.6480     81.274      0.069      0.946    -173.235     184.531
x3            11.6745     52.608      0.222      0.828    -104.115     127.464
==============================================================================
Omnibus:                        1.891   Durbin-Watson:                   1.325
Prob(Omnibus):                  0.388   Jarque-Bera (JB):                1.220
Skew:                           0.438   Prob(JB):                        0.543
Kurtosis:                       1.911   Cond. No.                         766.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=15
  "anyway, n=%i" % int(n))

In [56]:
DF1 = model1.df_resid
DF1

11.0

In [57]:
SSR1 = model1.ssr
SSR1

48872493.98263385

In [58]:
MSE1 = model1.mse_resid
MSE1

4442953.998421259

In [59]:
data_cluster0 = data_sort_clusters[data_sort_clusters.clusters == 0]
data_cluster0

y = data_cluster0[['y']]
x = data_cluster0[['x1', 'x2', 'x3']]
x = sm.add_constant(x)
model0 = sm.OLS(y, x).fit()

In [ ]:
#print_model0 = model0.summary()
#print(print_model0)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.527
Model:                            OLS   Adj. R-squared:                  0.409
Method:                 Least Squares   F-statistic:                     4.460
Date:                Thu, 29 Jul 2021   Prob (F-statistic):             0.0252
Time:                        14:58:03   Log-Likelihood:                -134.15
No. Observations:                  16   AIC:                             276.3
Df Residuals:                      12   BIC:                             279.4
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       8458.9708   2517.463      3.360      0.006    2973.890    1.39e+04
x1           -42.9429     29.556     -1.453      0.172    -107.341      21.455
x2           -47.2869     28.928     -1.635      0.128    -110.317      15.743
x3          -144.6864     46.455     -3.115      0.009    -245.903     -43.470
==============================================================================
Omnibus:                        0.428   Durbin-Watson:                   2.142
Prob(Omnibus):                  0.807   Jarque-Bera (JB):                0.525
Skew:                          -0.117   Prob(JB):                        0.769
Kurtosis:                       2.144   Cond. No.                         525.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))

In [60]:
DF0 = model0.df_resid
DF0

11.0

In [61]:
SSR0 = model0.ssr
SSR0

6331729.01499525

In [62]:
MSE0 = model0.mse_resid
MSE0

575611.7286359319

In [63]:
GQ_test_clusters = MSE1 / MSE0
GQ_test_clusters

7.718664817602039

In [64]:
# เปรียบเทียบค่าสถิติกับค่าวิกฤต
if GQ_test_clusters > 2.9130:
  print('Reject005=0 : Heteroscedasticity ')
else:
  print('Reject005=1 : Homoscedasticity ')

Reject005=0 : Heteroscedasticity